asgiref==3.8.1
backports.zoneinfo==0.2.1
click==8.1.7
colorama==0.4.6
cssbeautifier==1.15.1
Django==4.2.16
django-browser-reload==1.15.0
djlint==1.35.2
EditorConfig==0.12.4
html-tag-names==0.1.2
html-void-elements==0.1.0
jsbeautifier==1.15.1
json5==0.9.25
pathspec==0.12.1
pillow==10.4.0
PyYAML==6.0.2
regex==2024.9.11
six==1.16.0
sqlparse==0.5.1
tomli==2.0.1
tqdm==4.66.5
typing-extensions==4.12.2
whitenoise==6.7.0
